tf-dark-green = #008F47

tf-off-green = #ABCF37

tf-green-1 = #7FC241
tf-green-2 = #5E9B3B

tf-white = #ffffff

tf-black = #000000

tf-gray-1 = #eee
tf-gray-2 = #ccc
tf-gray-3 = #aaa
tf-gray-4 = #333
